
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color:#f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    /*faz o elemento virar um flex container 
    onde alinha tudo que estiver dentro dele.
    */
    display: flex;
    /*alinhamento vertical dos itens*/

    align-items: center;
    /*alinamento horizontal dos itens*/

    /*space evenly centraliza no meio deixando mais espaços dos lados 
    space around centraliza no meio deixando um espaço no meio 
    space between espaça os elemntos para os lados deiaxando espaços iguais entre eles*/
    justify-content:start;
    
    width: 60%;
    height: 100vh;
    margin-top: 10px;
    
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img{
    height: 50rem;
}

.instagram-continue{
    display: flex;
    align-items: center;/*horizontal*/
    justify-content: space-around; /*vertical*/
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin: 20px;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-phonto img {
    height: 6rem;
}

.instagram-login{
    background-color:#0095e6 ;
    color: white;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
}

.instagram-logout{
    color:#0095e6;
    margin-top: 1rem ;
}

.not-acount {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095e6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 4rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url(../img/app_store.png);
}

.app-download:nth-child(2){
    background-image: url(../img/google_play.png);
}

/*RESPONSIVE*/

@media (max-width: 2024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 700px){
    body {
        background-color: white;
    }

    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }

    .group{
        border: 1px solid transparent;
    }

}